@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700italic,700,400italic&subset=latin,cyrillic);

@font-face {
  font-family: 'symbols-sedona';
  src: url('../fonts/symbols-sedona/symbols-sedona.eot?60737633');
  src: url('../fonts/symbols-sedona/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
       url('../fonts/symbols-sedona/symbols-sedona.woff?60737633') format('woff'),
       url('../fonts/symbols-sedona/symbols-sedona.ttf?60737633') format('truetype'),
       url('../fonts/symbols-sedona/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\f39e'; } /* '' */

body {
	box-sizing: border-box;
	font-size: 14px;
	font-family: PT Sans, "Verdana", "Times New Roman", sans-serif;
	text-transform: uppercase;
	line-height: 21px;
}

.container{
	margin: 0 auto;
	min-width:768px;
	max-width: 1200px;
	box-shadow: 0 0 20px -6px;
  position: relative;
}
.clearfix:after{
	content: '';
	display: table;
	clear: both;
}
.col-4{
	width: 33.33%;
}
.col-8{
	width: 66.66%;
}
.main-navigation{
    width: 88%;
    font-size: 0px;
    font-weight: bold;
    margin-left: 6%;
    margin-right: 6%;
    padding: 0;
    padding-bottom: 13px;

}
.main-navigation li{
	display: inline-block;
    width: 20%;
    padding-top: 18px;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 21px;
}

.main-navigation a{
	text-decoration: none;
	color: #000;
}
.main-navigation a:hover{
	color: #81b3d2;
}
.main-navigation a:active{
	color: #cacaca;
}

.main-navigation a.active{
	color: #766357;
}
.main-navigation a.active:hover{
	color: #604e43;
}
.main-navigation a.active:active{
	color: #dedad8;
}
.main-navigation li:first-child,
.main-navigation li:nth-child(2){
	text-align: left;
}
.main-navigation li:nth-child(4),
.main-navigation li:last-child{
	text-align: right;
}
.main-navigation li:nth-child(3){
	position: relative;
	
}
.main-navigation .logo{
    position: absolute;
    top: -11px;
    left: 50%;
    z-index: 10;
    margin-left: -68px;
}
.main-photo{
	position: relative;
	width: 100%;
	height: 509px;
	text-align: center;
	background: url('../img/main-photo.jpg');
	background-repeat: no-repeat;
	background-position: 50% 20%;
	-webkit-background-size: cover;
  			background-size: cover;
}
.main-photo img{
	margin-top: 77px;
}
.main-photo:after {
	content: '';
    background: transparent url('../img/mask.png') no-repeat 0% 100%;
    height: 57px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-size: 100%;
}

.main-text h2{
	width: 50%;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 27px;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	line-height: 26px;
}
.main-text p{
	width: 50%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 51px;
	line-height: 26px;
}
.photo-feature{
	width: 100%;
}
.photo-feature-text{
	float: left;
	max-height: 256px;
	text-align: center;
	background-color: #81b3d2;
	color: #fff;
}
.photo-feature-text p{
	margin: 0;
	padding-top: 23px;
	line-height: 21px;
}
.photo-feature-text p:first-child{
	padding-bottom: 31px;
}
.photo-feature-text p:last-child{
	padding-bottom: 57px;
}
.photo-feature-text h2{
	font-weight: bold;
    font-size: 21px;
    margin: 0;
    line-height: 21px;
    padding-top: 52px;
}
.feature-title{
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
}
.first-row-feature-item{
	float: left;
    position: relative;
    text-align: center;
    width: 33.33%;
    padding-top: 164px;
    padding-bottom: 71px;
    margin-top: -22px;
}
.first-row-feature-item p{
	padding-top: 6px;
}
.first-row-feature-item:before{
	content: '';
	position: absolute;
	display: block;
	margin-left: 40%;
	margin-right: 40%;
	top: 80px;
	background-image: url('../img/spritesheet.png');
}
.house-sprite:before {
    width: 75px;
    height: 72px;
    background-position: -117px -15px;
}

.food-sprite:before{
	width: 80px;
    height: 70px;
    background-position: -12px -15px;
}
.souvenirs-sprite:before {
	width: 82px;
    height: 80px;
    background-position: -216px -15px;
}
.second-row-feature{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 48px;
	background-color: #eeeeee;
}
.second-row-feature div{
	float: left;
	text-align: center;
}
.second-row-feature p{
	padding-top: 5px;
}
.search-text-block p{
	text-align: center;
	line-height: 24px;
}
.interest{
	padding-top: 24px;
	font-size: 30px;
	font-weight: bold;
}

.search-btn{
  display: block;
  margin: 0 auto;
  width: 568px;
  padding: 33px 0;
  text-align: center;
  text-decoration: none;
  background-color: #766357;
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  margin-top: 48px;
}

.footer-wrapper{
  background-color: rgba(255,255,255,.9);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
	padding-top: 36px;
	padding-bottom: 36px;
}

.footer-wrapper--normal {
  position: static;
}

.hashtag{
	float: left;
  padding-top: 7px;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}
.social{
	float: left;
	text-align: center;
	vertical-align: bottom;
}
.copyrights{
	float: right;
	padding-top: 2px;
	text-align: center;
}
.social-btn{
	position: relative;
	width: 46px;
	height: 48px;
	display: inline-block;
	background-color: #81b3d2;
}
.social-btn:hover{
	background-color: #669ec0;
}
.social-btn:active{
	background-color: #5496bd;
}
.social i:active{
	color: #94b9d2;
}
.search-form{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 568px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 0 20px -6px;
  background: white;
  height: 0;
  display: none;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;

}

.search-form--active {
  height: 395px;
  display: block;

}


.map{
	width: 100%;
	height: 570px;
	background: url('../img/map.png') no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
  background-size: cover;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.submit-btn{
	display: block;
	padding: 17px 0;
	background-color: #81b3d2;
	text-decoration: none;
	color: #fff;
	text-align: center;
	font-size: 21px;
}
.submit-btn:hover{
	background-color: #669ec0;
}
.submit-btn:active{
	background-color: #5496bd;
	color: #94b9d2;
}

.search-form-container{
	padding: 55px;
	padding-top: 48px;
  box-sizing: border-box;
}

.search-form-container>label {
	display: inline-block;
	position: relative;
	width: 95px;
}

.search-form input {
	margin-bottom: 29px;
}

.search-form-row input[type="number"] {
	width: 57px;
	padding-left: 57px;
	border: none;
	color: #000;
	background-color: #f2f2f2;
	font-size: 14px;
	border: none;
	text-transform: uppercase;
	padding-top: 14px;
    padding-bottom: 14px;
	}
input[type="date"]{
	background-color: #f2f2f2;
    width: 290px;
    border: none;
    text-transform: uppercase;
    padding-left: 22px;
    padding-top: 14px;
    padding-bottom: 4px;
    padding-right: 41px;
}
input[type="number"]:focus,
input[type="number"]:active,
input[type="date"]:focus,
input[type="date"]:active {
  outline: none;
}
.adult-input{
	float: left;
	position: relative;
	width: 50%;
}
.children-input{
	float: right;
	position: relative;
	width: 50%;
}
.search-form-row{
	margin-bottom: 23px;
}
.search-form-row label{
	width: 95px;
	display: inline-block;
}
.children-input label{
	padding-left: 54px;
	width: 50px;
	}
.filters-block{
	width: 88%;
	padding-left: 6%;
	padding-right: 6%;
	padding-top: 28px;
	padding-bottom: 32px;
	background-image: url('../img/hotels-background.jpg');
	background-position: 50% 20%;
  	-webkit-background-size: cover;
 			background-size: cover;
 	font-weight: bold;
}
.filters-block span{
	font-size: 16px;
	line-height: 21px;
}
.filters-block label{
	font-size: 14px;
	font-weight: normal;
	line-height: 21px;
}
.infrastructure-filter{
	float: left;
	width: 23%;
	height: 100%;
	color: #fff;
}
.house-type-filter{
	float: left;
	width: 20%;
	height: 100%;
	color: #fff;
}
.price-filter{
	float: right;
	width: 28.5%;
	height: 100%;
	color: #fff;
}

.photo-feature-img{
	float: left;
	height: 256px;
	overflow: hidden;
	position: relative;
}

.photo-feature-img img{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto: ;
	width: 100%;
	height: auto;
}

.sorting{
	padding: 40px 72px;
}
.price-controls input[type="number"]{
	border: none;
    color: #fff;
    background-color: transparent;
    font-size: 14px;
    width: 45px;
}
.sorting-result{
	float: left;
	padding-right: 55px;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
}
.sorting-types{
	float: left;
	padding-top: 5px;
	line-height: 18px;
}
.arrows-link{
	float: right;
}
.sorting-list{
	margin: 0;
	padding: 0;
}
.sorting-list li{
	display: inline-block;
	padding-right: 32px;
	
}
.sorting-list a{
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	color: #cacaca;
	border-bottom: 1px dotted #81b3d2;
}
.sorting-types a:hover{
	color: #81b3d2;
}
.sorting-list a.active{
	color: #81b3d2;
	border: none;
}
.sorting-list a:active{
	color: #000;
	border: none;
}
.sorting-types span{
	padding-right: 40px;
	font-size: 12px;
}
.hotel-photo{
	float: left;
}
.hotel-info{
	float: left;
	padding-left: 30px;
}
.hotel-type{
	float: left;
}
.hotel-cost{
	float: left;
	padding-left: 6px;
}
.hotel-rating{
	float: right;
	text-align: right;
}
.detail-btn{
	display: block;
	background-color: #81b3d2;
	text-decoration: none;
	color: #fff;
	padding: 5px 17px;
	font-weight: bold;
}
.detail-btn:hover{
	background-color: #669ec0;
}
.detail-btn:active{
	background-color: #5496bd;
}
.reserve-btn{
	display: block;
	background-color: #766357;
	text-decoration: none;
	color: #fff;
	padding: 5px 17px;	
	font-weight: bold;
}
.reserve-btn:hover{
	background-color: #604e43;
}
.reserve-btn:active{
	background-color: #503e33; 
}
.hotel-parametres {
	font-size: 14px;
}
.hotel-info h2{
	font-size: 21px;
	margin: 0;
}
.hotel-info h2:hover{
	color: #81b3d2;
}
.hotel-info h2:active{
	color: #cacaca;
}
.hotel-parametres p{
	margin-top: 3px;
}
.hotel{
	padding-left: 6%;
	padding-right: 6%;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: -1px;
	}
.price-controls{
	display: inline-block;
    width: 100%;
    outline: 2px solid #fff;
    font-size: 0;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 0px;
}
.price-controls-left{
	display: inline-block;
    text-align: center;
    font-weight: normal;
    border-right: 1px solid #fff;
    margin-left: 15%;
    min-width: 34%;
    height: 18px;
}
.price-controls-right{
    display: inline-block;
    text-align: center;
    font-weight: normal;
    border-left: 1px solid #fff;
    padding-left: 4%;
    min-width: 45%;
    height: 18px;
}
.show-btn{
    display: block;
    padding: 6px 35px;
    border: 2px solid #fff;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: normal;
    width: 25%;
    margin: 0 auto;
	}
.range-filter{
	display: inline-block;
	padding-top: 14px;
	padding-bottom: 23px;
	width: 100%;
}
.price-control-left label{
	border-right: 2px solid #fff;
}
/*ОФОРМЛЕНИЕ ФИЛЬТРА С ЦЕНАМИ*/
.range-controls{
	position: relative;
	height: 11px;
	padding-top: 20px;
}
.range-controls .scale{
	height: 2px;
	background-color: #918381;
}
.range-controls .toggle{
	position: absolute;
	left:0;
	top: 36%;
	width: 4px;
	height: 4px;
	border: 8px solid #fff;
	border-radius: 50%;
}
.range-controls .toggle-max{
	left: 81%;
	background-color: #ababab;
}
.range-controls .toggle-min{
	background-color: #ababab;
	}
.toggle-max:hover,
.toggle-min:hover{
	background-color: #1c4f80;
	cursor: pointer;
}	
.scale .bar{
	width: 85%;
	height: 2px;
	background-color: #fff;
}
.hotel-rating-stars {
	width: 118px;
	color:#81b3d2;
	font-size: 21px;
	letter-spacing: 2px;
	padding-bottom: 41px;
}
.hotel-rating-mark{
	display: inline-block;
	padding-right: 0 13px;
	background: #f2f2f2;
	font-size: 14px;
	line-height: 0;
}
.hotel-rating-mark p{
	padding-left: 16px;
	padding-right: 12px;
}
.form-row{
	padding-top: 25px;
	position: relative;
}
.form-row input{
	display: none;
}
.form-row label{
	padding-left: 40px;
}
.form-row input[type="checkbox"]+label:before{
	content:'\2610';
	font-family: "symbols-sedona";
	display: inline-block;
	font-size: 26px;
	position: absolute;
	left: 0;
  color: #b5b5b5;
}
.form-row input[type="checkbox"]:checked+label:before{
	content: '\2611';
}

.form-row input[type="checkbox"]+label:hover:before{
  color: #fff;
}

.form-row input[type="checkbox"]:disabled+label:before{
  color: #6a6a6a;
}


.arrows-link a{
	font-size: 23px;
	line-height: 20px;
	color: #cccccc;
}
.arrows-link .active{
	color: #81b3d2;
}
.arrows-link a:hover{
	color: #000;
}
.arrows-link a:active{
	color: #81b3d2;
}

.social i{
	color: white;
	font-size: 19px;
	line-height: 20px;
	position: absolute;
	left: 10px;
	bottom:13px;
}

/*.search-form-container label+input[type="date"]:after{
	content:'\e800';
	font-family: "symbols-sedona";
	display: inline-block;
	font-size: 21px;
	opacity: .3;
	padding-right: 9px;
}*/
.search-form-container input[type="date"]:hover{
	background-color: #ebebeb;
}
.search-form-container input[type="date"]:active{
	background-color: #fff;
	outline: 2px solid #e5e5e5;
}
.search-form-container i{
	position: absolute;
	right: -350px;
    font-size: 21px;
    opacity: .3;
}
.search-form-container i:hover{
	opacity: 1;
}
.search-form-container i:active{
	color: #81b3d2;
}
.adult-input i:first-child{
	position: absolute;
	font-size: 14px;
	left: 112px;
    top: 14px;
}
.adult-input i{
	position: absolute;
    font-size: 14px;
    right: 25px;
    top: 14px;
}
.children-input i:first-child{
	position: absolute;
	font-size: 14px;
	left: 121px;
    top: 14px;
}
.children-input i{
	position: absolute;
    font-size: 14px;
    right: 15px;
    top: 14px;
}
