body{
	width: 768px;
	margin: auto;
	font-family: PT Sans;
	color:#000000;
	font-size: 14px;
	border: 1px solid black;
	text-transform: uppercase;
}
h2{
	font-size: 21px;
}

.main-navigation ul{
	padding: 0;
}

.main-navigation li{
	display: inline-block;
	width: 20%;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}
.main-navigation li:first-child{
	margin-left: 10%;
}
}
.main-photo img{
	width: 100%;
}
.main-text{
	margin-top: 20px;
	margin-bottom: 20px;
}
.main-text h2{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.main-text p{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.col-4{
	width: 33%;
	text-align: center;
	font-size: 14px;

}
.col-8{
	width: 67%;
}
.photo-feature-top{
	float: right;
	margin-bottom: 20px;
}
.first-feature{
	float: left;
	text-align: center;
	background-color: #81b3d2;
	min-height: 256px;
	color: #fff;
}
.clearfix{
	content: '';
	display: table;
	clear: both;
}
.feature-first-row .col-4,
.feature-second-row .col-4{
	float: left;
	margin-bottom: 20px;
}
.feature-first-row,
.feature-second-row
{
	font-size: 0;
	margin-bottom: 20px;
}

.photo-feature-bottom{
	float: left;
	margin-bottom: 20px;
}
.second-feature{
	float: right;
	text-align: center;
	background-color: #81b3d2;
	min-height: 256px;
	color: #fff;
}
.hotel-search{
	text-align: center;
}
.interest{
	font-size: 30px;
	font-weight: bold;
}
.hotel-search p:last-child{
	width: 400px;
	margin: 0 auto;
	margin-bottom: 20px;

}
.search{
	display: block;
	width: 40%;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color:#766357;
	color: #ffffff;
	text-decoration: none;
	font-size: 21px;
	font-weight: bold;
	padding-left: 17%;
	padding-right: 17%;
	padding-top: 32px;
	padding-bottom: 32px;

}
.social-btn{
	width: 30px;
	height: 30px;
	display: block;
	background-color: #81b3d2;
	display: inline-block;
}


.footer-wrapper{
	width: 100%;
	margin-top: 20px;
}
.hashtag{
	width: 33%;
	float: left;
	padding:0;
	font-size: 21px;
	font-weight: bold;
}
.social{
	width: 33%;
	float: left;
}
.copyrights{
	width: 33%;
	float: right;
}
.infrastructure{
	float: left;
	width: 20%;
	margin-left: 5%;
	margin-top: 30px;
}
.house-type{
	float: left;
	width: 20%;
	margin-left: 10%;
	margin-top: 30px;
}
.price{
	float: right;
	width: 35%;
	margin-top: 30px;
	background-color:;
}
.filters{
	width: 100%;
	min-height: 217px;
	background: red;
	margin-bottom: 20px;
	background-image: url('../img/hotels-main.jpg');
}
.filters p{
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
}
.form-row{
	color: #ffffff;
	font-size: 14px;
}
.hotel{
	width: 100%;
	margin-bottom: -1px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;

}
.photo{
	float: left;
	width: 20%;
	margin-left: 20px;
}
.info{
	float: left;
	width: 40%;
	margin-left: 3%;

}
.rating{
	float: right;
	width: 20%;
}
.hotel-type{
	float: left;
	margin-right:20px;
}
.hotel-cost{
	float: right;
}
.info h2,
.info p
{
	margin-top:0;
}
.price button{
	display: block;
}

.search-result,
.sorting,
.sorting-item{
	display: inline-block;
}
.sorting span{
	font-size: 12px;
}
.sorting a{
	font-size: 12px;
}
.search-result{
	margin-left: 20px;
	width: 20%;
	font-size: 21px;
	font-weight: bold;
}
.rating-mark{
	width: 109px;
	background-color: #f2f2f2;
	text-decoration: none;
}
.detail{
	background-color: #81b3d2;
	color: white;
	text-decoration: none;
}
.reserve{
	background-color: #766357;
	color: white;
	text-decoration: none;
}
