body {
	box-sizing: border-box;
	font-size: 14px;
	font-family: PT Sans;
	text-transform: uppercase;
}

.container{
	margin: 0 auto;
	min-width:768px;
	max-width: 1200px;
	
	box-shadow: 0 0 20px -6px;
}
.clearfix:after{
	content: '';
	display: table;
	clear: both;
}
.col-4{
	width: 33.33%;
}
.col-8{
	width: 66.66%;
}
.main-navigation{
    width: 88%;
    font-size: 0px;
    font-weight: bold;
    margin-left: 6%;
    margin-right: 6%;
    padding: 0;
    padding-bottom: 16px;

}
.main-navigation li{
	display: inline-block;
    width: 20%;
    padding-top: 22px;
    padding-bottom: 5px;
    font-size: 14px;
}
.main-navigation a{
	text-decoration: none;
	color: #000;
}
.main-navigation li:first-child,
.main-navigation li:nth-child(2){
	text-align: left;
}
.main-navigation li:nth-child(4),
.main-navigation li:last-child{
	text-align: right;
}
.main-navigation li:nth-child(3){
	position: relative;
	
}
.main-navigation .logo{
    position: absolute;
    top: -9px;
    margin-left: 36px;
    z-index: 10;
    margin-right: 36px;
}
.main-photo{
	position: relative;
	width: 100%;
	height: 509px;
	text-align: center;
	background: url('../img/main-photo.jpg');
	background-repeat: no-repeat;
	background-position: 50% 20%;
	-webkit-background-size: cover;
  			background-size: cover;
}
.main-photo img{
	margin-top: 80px;
}
.main-photo:after {
	content: '';
    background: transparent url('../img/mask.png') no-repeat 0% 100%;
    height: 57px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-size: 100%;
}

.main-text h2{
	width: 50%;
	margin: 0 auto;
	padding-top: 53px;
	padding-bottom: 36px;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
}
.main-text p{
	width: 50%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 57px;
}
.photo-feature{
	width: 100%;
}
.photo-feature-text{
	float: left;
	padding-top: 58px;
	text-align: center;
	background-color: #81b3d2;
	color: #fff;
}
.photo-feature-text p{
	margin: 0;
	padding-top: 32px;
}
.photo-feature-text p:last-child{
	padding-bottom: 57px;
}
.photo-feature-text h2{
	font-weight: bold;
	font-size: 21px;
	margin: 0;
}
.photo-feature-img{
	float: left;
}
.feature-title{
	font-weight: bold;
	font-size: 21px;
}
.first-row-feature-item{
	float: left;
	position: relative;
	text-align: center;
	width: 33%;
	padding-top: 164px;
	padding-bottom: 88px;
}
.first-row-feature-item:before{
	content: '';
	position: absolute;
	display: block;
	margin-left: 40%;
	margin-right: 40%;
	top: 80px;
	background-image: url('../img/spritesheet.png');
}
.house-sprite:before {
    width: 75px;
    height: 72px;
    background-position: -119px -15px;
}

.food-sprite:before{
	width: 74px;
    height: 70px;
    background-position: -15px -15px;
}
.souvenirs-sprite:before {
	width: 64px;
    height: 76px;
    background-position: -224px -15px;
}
.second-row-feature{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 64px;
	background-color: #eeeeee;
}
.second-row-feature div{
	float: left;
	text-align: center;
}
.second-row-feature p{
	padding-top: 20px;
}
.search-text-block{
	text-align: center;
}
.interest{
	font-size: 30px;
	font-weight: bold;
}

.search-btn{
	display: block;
	margin:0 auto;
	width: 568px;
	padding: 35px 0;
	text-align: center;
	text-decoration: none;
	background-color: #766357;
	color: #fff;
	font-size: 21px;
	font-weight: bold;

}
.footer-wrapper{
	width: 100%;
	padding-top: 36px;
	padding-bottom: 36px;
}
.hashtag{
	float: left;
	padding-top: 10px;
	text-align: center;
	font-size: 21px;
	font-weight: bold;
}
.social{
	float: left;
	text-align: center;
	vertical-align: bottom;
}
.copyrights{
	float: right;
	text-align: center;
}
.social-btn{
	width: 46px;
	height: 48px;
	display: inline-block;
	background-color: #81b3d2;
}
.search-form{
	margin: 0 auto;
    width: 568px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 20px -6px;
    position: absolute;
    z-index: 100;
    background: white;
    left: 550px;

}
.map{
	width: 100%;
	height: 473px;
	background: url('../img/map.png') no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
  			background-size: cover;
}
.submit-btn{
	display: block;
	padding: 17px 0;
	background-color: #81b3d2;
	text-decoration: none;
	color: #fff;
	text-align: center;
	font-size: 21px;
}
.search-form-container{
	padding: 55px;
	

}
.search-form-row{
	margin-bottom: 29px;
}
.search-form-row input[type="number"]{
	width: 57px;
	padding-left: 57px;
	border: none;
	color: #000;
	background-color: #f2f2f2;
	font-size: 14px;
	border: none;
	text-transform: uppercase;
	padding-top: 14px;
    padding-bottom: 14px;
	}
input[type="date"]{
	background-color: #f2f2f2;
    width: 331px;
    border: none;
    text-transform: uppercase;
    padding-left: 15px;
    padding-top: 14px;
    padding-bottom: 14px;
}
input[type="number"]:focus,
input[type="number"]:active,
input[type="date"]:focus,
input[type="date"]:active {
  outline: none;
}
.adult-input{
	float: left;
}
.children-input{
	float: right;
}
.search-form-row label{
	width: 95px;
    padding-right: 13px;
	}
.adult-input label{
	padding-right: 35px;
}
.filters-block{
	width: 88%;
	height: 217px;
	padding-left: 6%;
	padding-right: 6%;
	background-image: url('../img/hotels-background.jpg');
	background-position: 50% 20%;
  	-webkit-background-size: cover;
 			background-size: cover;
 	font-weight: bold;
}
.infrastructure-filter{
	float: left;
	width: 23%;
	height: 100%;
	padding-top: 31px;
	color: #fff;
}
.house-type-filter{
	float: left;
	width: 20%;
	height: 100%;
	padding-top: 31px;
	color: #fff;
}
.price-filter{
	float: right;
	width: 30%;
	height: 100%;
	color: #fff;
}
.form-row{
	padding-bottom: 23px;
}

.photo-feature-img{
	float: left;
	height: 260px;
	overflow: hidden;
	position: relative;
}
.photo-feature-img img{
	position: absolute;
	left: 0;
  	right: 0;
  	top: 0;
  	bottom: 0;
  	min-height: 260px;
}	
.sorting{
	padding: 40px 72px;
}
.price-controls input[type="number"]{
	border: none;
    color: #fff;
    background-color: transparent;
    font-size: 14px;
    width: 60px;
}
.sorting-result{
	float: left;
	padding-right: 75px;
	font-weight: bold;
	font-size: 21px;
}
.sorting-types{
	float: left;
	padding-top: 5px;
}
.sorting-types .active{
	color: #81b3d2;
}
.arrows-link{
	float: right;
}
.sorting-types a{
	padding-right: 32px;
	font-size: 12px;
	text-decoration: none;
}
.sorting-types span{
	padding-right: 40px;
	font-size: 12px;
}
.hotel-photo{
	float: left;
}
.hotel-info{
	float: left;
	padding-left: 30px;
}
.hotel-type{
	float: left;
}
.hotel-cost{
	float: left;
	padding-left: 6px;
}
.hotel-rating{
	float: right;
}
.detail-btn{
	display: block;
	margin-top: 12px;
	background-color: #81b3d2;
	text-decoration: none;
	color: #fff;
	padding: 5px 17px;
	font-weight: bold;
}
.reserve-btn{
	display: block;
	margin-top: 12px;
	background-color: #766357;
	text-decoration: none;
	color: #fff;
	padding: 5px 17px;	
	font-weight: bold;
}
.hotel-parametres {
	font-size: 14px;
}
.hotel-info h2{
	font-size: 21px;
	margin: 0;
}
.hotel-parametres p{
	margin-top: 3px;
}
.hotel{
	padding-left: 6%;
	padding-right: 6%;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: -1px;
	}
.price-controls{
	display: inline-block;
	border: 2px solid #fff;
	color: #fff;
	padding-top: 11px;
	padding-bottom: 11px;
	margin-left: 13px;
}
.price-controls-left{
	display: inline-block;
	text-align: center;
	border-right: 2px solid #fff;
	font-weight: normal;
	padding-left: 65px;
}
.price-controls-right{
	display: inline-block;	
	text-align: center;
	font-weight: normal;
	padding-left: 55px;
	padding-right: 10px;
	
}

.show-btn{
	display: inline-block;
	margin-top: 20px;
	margin-left: 85px;
	padding: 11px 35px;
	border: 2px solid #fff;
	text-decoration: none;
	color: white;
	font-weight: normal;
	}
.range-filter{
	display: inline-block;
}
.price-control-left label{
		border-right: 2px solid #fff;
}
/*ОФОРМЛЕНИЕ ФИЛЬТРА С ЦЕНАМИ*/
.range-controls{

}